@{
    Layout = null;
}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Owner</title>
    @**@
    <link href="~/Public/css/Home/nicepage.css" rel="stylesheet" />
    <link href="~/Public/css/Home/Home.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script class="u-script" type="text/javascript" src="~/Public/js/Home/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.17.10, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">

    <meta name="theme-color" content="#3fb7fe">
    <meta property="og:title" content="Owner">
    <meta property="og:type" content="website">
</head>
<body class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-header u-white u-header" id="sec-b4c8">
        <div class="u-clearfix u-sheet u-sheet-1">
            <a href="#" class="u-image u-logo u-image-1" data-image-width="447" data-image-height="447">
                <img src="@Url.Content("~/Public/assets/images/home2/images/Prems1.png")" class="u-logo-image u-logo-image-1">
            </a>
            <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
                <div class="menu-collapse" style="font-weight: 400;">
                    <a class="u-button-style u-nav-link" href="#">
                        <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-ea72"></use></svg>
                        <svg class="u-svg-content" version="1.1" id="svg-ea72" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <rect y="1" width="16" height="2"></rect>
                                <rect y="7" width="16" height="2"></rect>
                                <rect y="13" width="16" height="2"></rect>
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="u-custom-menu u-nav-container">
                    <ul class="u-nav u-unstyled u-nav-1">
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" href="@Url.Action("Index","Home")">Home</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" href="@Url.Action("Index","Dashboard")">Owner</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" href="@Url.Action("Index","Organization",new {area="Student"})">Student</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" href="@Url.Action("Index","Organization",new {area="Teacher"})">Teacher</a>
                        </li>
                    </ul>
                </div>
                <div class="u-custom-menu u-nav-container-collapse">
                    <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                        <div class="u-inner-container-layout u-sidenav-overflow">
                            <div class="u-menu-close"></div>
                            <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="@Url.Action("Index","Home")">Home</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="@Url.Action("Index","Dashboard")">Owner</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="@Url.Action("Index","Organization",new {area="Student"})">Student</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="@Url.Action("Index","Organization",new {area="Teacher"})">Teacher</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
                </div>
            </nav>
        </div>
    </header>
    <section class="u-clearfix u-image u-section-1" id="sec-8e13" data-image-width="1920" data-image-height="1080">
        <div class="u-clearfix u-sheet u-valign-middle-md u-sheet-1">
            <img class="u-hidden-md u-hidden-sm u-image u-image-circle u-image-contain u-preserve-proportions u-image-1" src="@Url.Content("~/Public/assets/images/home2/images/Icon.png")" alt="" data-image-width="447" data-image-height="447">
            <h3 class="u-text u-text-body-color u-text-default-xl u-text-1">
                Create your own<br>Education Organization Management&nbsp;
            </h3>
            <p class="u-text u-text-2"> We provide a system and many tools which will help you manage your education organization easy and professional as a owner, if you already are a members of a organization on Prems, use our facility as a teacher or student</p>
            <a href="@Url.Action("Index","Dashboard")" class="u-btn u-button-style u-custom-color-1 u-hover-palette-1-dark-1 u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-direction="">organization owner</a>
            <a href="@Url.Action("Login","Account")" class="u-border-none u-btn u-button-style u-custom-color-2 u-hover-palette-1-dark-1 u-btn-2">teacher and student</a>
        </div>
    </section>
    <section class="u-clearfix u-valign-bottom-xl u-section-2" id="sec-9321">
        <img class="u-hidden-sm u-image u-image-default u-image-1" src="@Url.Content("~/Public/assets/images/home2/images/image15.png")" alt="" data-image-width="583" data-image-height="388">
        <h3 class="u-text u-text-default u-text-1">
            <span class="u-icon"></span>PREMS
        </h3>
        <p class="u-text u-text-2"> A great educational institution needs a great management system</p>
        <p class="u-text u-text-3"> More than 50,000 organizations have been using Prems, they have had great experience, why not  join us now ?</p>
        <a href="@Url.Action("Organizations","Dashboard")" class="u-border-none u-btn u-button-style u-custom-color-3 u-hover-palette-1-dark-1 u-btn-1"> Create an organization&nbsp;</a>
        <img class="u-expanded-width u-image u-image-default u-image-2" src="@Url.Content("~/Public/assets/images/home2/images/Sponsor.png")" alt="" data-image-width="1920" data-image-height="260">
    </section>
    <section class="u-clearfix u-section-3" id="sec-04f5">
        <div class="u-clearfix u-sheet u-valign-middle-xl u-sheet-1">
            <h4 class="u-text u-text-custom-color-3 u-text-default u-text-1"> For you, Principle</h4>
            <div class="u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-1">
                            <img class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-1" src="@Url.Content("~/Public/assets/images/home2/images/Feature11.png")" alt="" data-image-width="303" data-image-height="177" data-animation-name="" data-animation-duration="0" data-animation-direction="">
                            <div class="u-container-style u-custom-color-3 u-expanded-width u-group u-group-1" data-animation-name="" data-animation-duration="0" data-animation-direction="">
                                <div class="u-container-layout u-container-layout-2">
                                    <p class="u-text u-text-default u-text-2">
                                        Manage system of teachers and students<br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-3">
                            <img class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-2" src="@Url.Content("~/Public/assets/images/home2/images/business-management-vs-business-administration1.png")" alt="" data-image-width="303" data-image-height="202" data-animation-name="" data-animation-duration="0" data-animation-direction="">
                            <div class="u-container-style u-custom-color-3 u-expanded-width u-group u-group-2" data-animation-name="" data-animation-duration="0" data-animation-direction="">
                                <div class="u-container-layout u-container-layout-4">
                                    <p class="u-text u-text-default u-text-3">
                                        Academic management class placement, timetable, culture in the organization<br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-5">
                            <img class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-3" src="@Url.Content("~/Public/assets/images/home2/images/business-management-vs-business-administration11.png")" alt="" data-image-width="303" data-image-height="202" data-animation-name="" data-animation-duration="0" data-animation-direction="">
                            <div class="u-container-style u-custom-color-3 u-expanded-width u-group u-group-3" data-animation-name="" data-animation-duration="0" data-animation-direction="">
                                <div class="u-container-layout u-container-layout-6">
                                    <p class="u-text u-text-default u-text-4">
                                        Make rules and announcements to everyone<br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-7">
                            <img class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-4" src="@Url.Content("~/Public/assets/images/home2/images/business-management-vs-business-administration12.png")" alt="" data-image-width="303" data-image-height="202" data-animation-name="" data-animation-duration="0" data-animation-direction="">
                            <div class="u-container-style u-custom-color-3 u-expanded-width u-group u-group-4" data-animation-name="" data-animation-duration="0" data-animation-direction="">
                                <div class="u-container-layout u-container-layout-8">
                                    <p class="u-text u-text-default u-text-5">
                                        Connecting people in the easiest way<br>
                                        <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-clearfix u-group-elements u-group-elements-1">
                <h6 class="u-text u-text-custom-color-3 u-text-default u-text-6"> Click here for more&nbsp;</h6>
                <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-5" src="@Url.Content("~/Public/assets/images/home2/images/material-symbols_arrow-right-alt.png")" alt="" data-image-width="24" data-image-height="24">
            </div>
        </div>
    </section>
    <section class="u-clearfix u-section-4" id="sec-54b1">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h4 class="u-text u-text-custom-color-4 u-text-default u-text-1"> What teachers and students will get when using Prems?</h4>
            <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-style u-layout-cell u-size-18 u-layout-cell-1">
                            <div class="u-container-layout u-container-layout-1">
                                <img class="u-expanded-width u-image u-image-default u-preserve-proportions u-image-1" src="@Url.Content("~/Public/assets/images/home2/images/Teacherlogo.png")" alt="" data-image-width="403" data-image-height="403">
                                <h5 class="u-text u-text-2">
                                    <span style="font-size: 1.5rem;"> Easy and convenient, your job is to get good grades and great study results</span>
                                    <br>
                                </h5>
                            </div>
                        </div>
                        <div class="cell-temp-clone u-container-style u-layout-cell u-size-18 u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-2">
                                <h5 class="u-text u-text-3"> Get rid of the thick files and paper clips, anything is available at the Prems</h5>
                                <img class="u-expanded-width u-hidden-sm u-hidden-xs u-image u-image-2" src="@Url.Content("~/Public/assets/images/home2/images/Studentlogo.png")" data-image-width="435" data-image-height="396">
                            </div>
                        </div>
                        <div class="u-container-style u-custom-color-4 u-layout-cell u-size-24 u-layout-cell-3">
                            <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs u-container-layout-3">
                                <img class="u-absolute-hcenter-sm u-absolute-hcenter-xs u-expanded u-image u-image-default" src="@Url.Content("~/Public/assets/images/home2/images/Rectangle75.png")" alt="" data-image-width="512" data-image-height="784">
                                <h5 class="u-text u-text-4">
                                    Open your browser and<br>visit our website to using our features
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-section-5" id="sec-b8bb">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-container-style u-custom-color-4 u-expanded-width-sm u-expanded-width-xs u-group u-group-1">
                <div class="u-container-layout u-container-layout-1">
                    <div class="u-container-style u-expanded-width u-group u-image u-image-1" data-image-width="1319" data-image-height="368">
                        <div class="u-container-layout u-container-layout-2">
                            <div class="u-black u-container-style u-expanded-width u-group u-opacity u-opacity-45 u-group-3">
                                <div class="u-container-layout u-container-layout-3">
                                    <h4 class="u-text u-text-1"> Teachers and Students can easy track information about teaching and learning (schedule, grades, document,... )</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img class="u-hidden-sm u-hidden-xs u-image u-image-contain u-image-default u-image-2" src="@Url.Content("~/Public/assets/images/home2/images/TeacherFeature.png")" alt="" data-image-width="1168" data-image-height="201">
                    <img class="u-hidden-sm u-hidden-xs u-image u-image-contain u-image-default u-image-3" src="@Url.Content("~/Public/assets/images/home2/images/StudentFeature.png")" alt="" data-image-width="1168" data-image-height="200">
                    <div class="u-border-2 u-border-custom-color-5 u-line u-line-horizontal u-line-1"></div>
                    <h6 class="u-hidden-xs u-text u-text-2">
                        Teaching and learning process becomes simpler and more convenient than ever!<br>
                    </h6>
                </div>
            </div>
        </div>
    </section>


    <footer class="u-clearfix u-footer u-palette-1-dark-2" id="sec-5124">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-52 u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-style u-layout-cell u-shape-rectangle u-size-18 u-layout-cell-1">
                            <div class="u-container-layout u-container-layout-1">
                                <h5 class="u-text u-text-1">Call today</h5>
                                <p class="u-small-text u-text u-text-variant u-text-2"> +1 (234) 567-8910</p>
                                <h5 class="u-text u-text-3">Email&nbsp;</h5>
                                <p class="u-small-text u-text u-text-variant u-text-4">smanageroop@gmail.com</p>
                                <h6 class="u-text u-text-5">Opening hours</h6>
                                <p class="u-small-text u-text u-text-variant u-text-6">
                                    Mon — Fri 10:00 – 23:00<br>Sut-Sun- 10:00 – 19:00
                                </p>
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-size-42 u-layout-cell-2">
                            <div class="u-container-layout u-valign-bottom-xs u-container-layout-2">
                                <h5 class="u-text u-text-7">Address</h5>
                                <div class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-grey-light-2 u-map u-map-1">
                                    <div class="embed-responsive">
                                        <iframe class="embed-responsive-item" src="//maps.google.com/maps?output=embed&amp;q=khu%20ph%E1%BB%91%206%2C%20ph%C6%B0%E1%BB%9Dng%20Linh%20Trung%2C%20th%C3%A0nh%20ph%E1%BB%91%20Th%E1%BB%A7%20%C4%90%E1%BB%A9c&amp;t=m" data-map="JTdCJTIycG9zaXRpb25UeXBlJTIyJTNBJTIybWFwLWFkZHJlc3MlMjIlMkMlMjJhZGRyZXNzJTIyJTNBJTIya2h1JTIwcGglRTElQkIlOTElMjA2JTJDJTIwcGglQzYlQjAlRTElQkIlOURuZyUyMExpbmglMjBUcnVuZyUyQyUyMHRoJUMzJUEwbmglMjBwaCVFMSVCQiU5MSUyMFRoJUUxJUJCJUE3JTIwJUM0JTkwJUUxJUJCJUE5YyUyMiUyQyUyMnpvb20lMjIlM0FudWxsJTJDJTIydHlwZUlkJTIyJTNBJTIycm9hZCUyMiUyQyUyMmxhbmclMjIlM0FudWxsJTJDJTIyYXBpS2V5JTIyJTNBbnVsbCUyQyUyMm1hcmtlcnMlMjIlM0ElNUIlNUQlN0Q="></iframe>
                                    </div>
                                </div>
                                <p class="u-small-text u-text u-text-variant u-text-8">
                                    Quarter 6, Linh Trung Ward, Thu Duc City<br>
                                    <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
   
</body>
</html>
