@using Common
@model dynamic
<section id="sidebar">
    <div href="#" class="brand" style="color: #173143; padding: 0px 12px; ">
        <img class="me-4" style="width: 42px;" src="~/Public/assets/images/Mask group.png">
        ORGANIZATION
    </div>
    <ul class="side-menu">
        @*<li><a href="@Url.Action("Index","Dashboard")" class="active"><i class="fa-solid fa-face-smile icon"></i>Profile</a></li>*@
        <li>@Html.MenuLink("<i class=\"fa-solid fa-face-smile icon\"></i>Information", "Index", "Organization", new { ID = Model })</li>
        <li class="divider"></li>
        <li>
            <a href="#"><i class="fa-solid fa-inbox icon"></i>Elements <i class="fa-solid fa-chevron-right icon-right"></i> </a>
            <ul class="side-dropdown">
                <li>@Html.MenuLink("Regulation", "Regulation", "Organization", new { ID = Model })</li>
                <li>@Html.MenuLink("Semester", "Semester", "Organization", new { ID = Model })</li>
                <li>@Html.MenuLink("Class", "Class", "Organization", new { ID = Model })</li>
                <li>@Html.MenuLink("Subject", "Subject", "Organization", new { ID = Model })</li>
            </ul>
        </li>

        <li class="divider"></li>
        <li>
            <a href="#"><i class="fa-solid fa-book-open icon"></i>Teachers <i class="fa-solid fa-chevron-right icon-right"></i> </a>
            <ul class="side-dropdown">
                <li>@Html.MenuLink("Teachers", "Teachers", "Organization", new { ID = Model })</li>
                <li>@Html.MenuLink("Timetable", "Timetable", "Organization", new { ID = Model })</li>

            </ul>
        </li>
        <li>
            <a href="#"><i class="fa-solid fa-user-graduate icon"></i>Student <i class="fa-solid fa-chevron-right icon-right"></i> </a>
            <ul class="side-dropdown">
                <li>@Html.MenuLink("Students", "Students", "Organization", new { ID = Model })</li>
                <li>@Html.MenuLink("Study", "Study", "Organization", new { ID = Model })</li>
                <li>@Html.MenuLink("Transfer of class", "TransferClass", "Organization", new { ID = Model })</li>
                <li>@Html.MenuLink("Absentee", "Absentee", "Organization", new { ID = Model })</li>
                <li>@Html.MenuLink("Score", "Score", "Organization", new { ID = Model })</li>
            </ul>
        </li>
        <li class="divider"></li>
        <li>@Html.MenuLink("<i class=\"fa-solid fa-left-long icon\"></i>Back", "Organizations", "Dashboard", new { ID = Model })</li>

    </ul>

</section>


