@model Models.ViewModel.OrganizationViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";


    <link href="~/Public/css/Organization/CreateOrganization.css" rel="stylesheet" />


}
<script src="https://cdn.ckeditor.com/ckeditor5/35.2.0/super-build/ckeditor.js"></script>

<div>
    <h1 class="title">Create</h1>
    <ul class="breadcrumbs">
        <li><a href="#">Dashboard</a></li>
        <li class="divider"></li>
        <li><a href="#">Organizations</a></li>
        <li class="divider"></li>
        <li><a href="#" class="active">Create</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-12">
        <div class="card border-0 shadow-sm rounded-1">
            <div class="card-header">
                <h4 class="card-title">Organization Information</h4>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    @using (Html.BeginForm("Create", "Organization", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="col-xl-4">
                                <div class="form-group row" style="height: 256px;">
                                    <div class="col-lg-10">
                                        <div class="form-input">
                                            <label class="labeltest" for="file">
                                                <span> Drop image here or click to upload. </span>
                                            </label>
                                            <input type="file" id="file" name="file" accept="image/*" onchange="showPreview(event);">

                                            <img id="file-preview" src="#" alt="img">

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.FacebookLink, new { @class = "form-control", @placeholder = "Facebook" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.InstagramLink, new { @class = "form-control", @placeholder = "Instagram" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.LinkedinLink, new { @class = "form-control", @placeholder = "LinkedIn" })
                                </div>
                            </div>
                            <div class="col-xl-8">

                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Name organization" })
                                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Email" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", @placeholder = "Phone number" })
                                    @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.TextAreaFor(x => x.Information, new { @class = "form-control text-area", @rows = 12, @placeholder = "Some information about your organization", @id = "contentEditor" })
                                </div>
                            </div>

                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary">
                                Next step
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
<script src="~/Public/js/Organization/Create.js"></script>
<script src="~/Public/Plugin/CKEditor.js"></script>
<script>
    CreateCKEDITOR("contentEditor");
</script>