@model IEnumerable<Models.ViewModel.TeacherViewModel>
@{
    ViewBag.Title = "Teachers";
    Layout = "~/Views/Shared/_LayoutOrganization.cshtml";
}
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">

<link href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css"
      rel="stylesheet" />
<script type="text/javascript"
        src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
@*<script src="https://cdn.tailwindcss.com"></script>*@
<style>
    .row {
        --bs-gutter-x: 0;
    }
</style>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
@Html.Partial("_NavigationBar", (string)ViewBag.OrganizationID)
<section id="content">
    @Html.Partial("_ProfileBar")
    <main>
        <div class="d-flex justify-content-between">
            <div>
                <h1 class="title">Teachers</h1>
                <ul class="breadcrumbs">
                    <li><a href="#">Organization</a></li>
                    <li class="divider"></li>
                    <li><a href="#" class="active">Teacher</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="mb-2 row">
                <a class="btn btn-primary p-2 col-md-6" href="@Url.Action("CreateTeacher","Organization", new {ID = ViewBag.OrganizationID})">
                    <i class="fa-sharp fa-solid fa-chalkboard-user"></i>
                    Add teacher
                </a>
                <form action="@Url.Action("ImportExcelToDatabaseTeacher","Organization", new {ID = ViewBag.OrganizationID})"
                      method="post" enctype="multipart/form-data" id="excel-form" class="col-md-6 text-end">
                    <label for="file" class="text-decoration-underline fst-italic me-2">
                        <i class="fas fa-file-excel text-success me-1 "></i>Click here to select file excel
                    </label>
                    <input type="file" name="file" id="file" class="d-none" accept=".xls, .xlsx" />
                    <button type="submit" class="btn btn-submit btn-primary p-2" href="" disabled>
                        <i class="fa-sharp fa-solid fa-chalkboard-user"></i>
                        Import excel
                    </button>
                </form>
               
            </div>
            <div>
                <table id="example" class="table bg-white" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Specialization</th>
                            <th>Gender</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                       @foreach (var i in Model)
                       {
                           <tr>
                               <td>
                                   <img width="40" height="40" class="u-radius-50 me-1" src="@Url.Content(i.AvatarPath==null ? "~/Source/Default/teacher.png" : i.AvatarPath)" alt="teacher"/>
                                   @i.FullName
                               </td>
                               <td>@i.Specialization</td>
                               <td>@i.Gender</td>
                               <td>@(DateTime.Now.Year - i.DayOfBirth.Year)</td>
                               <td>@i.StartJobDate.ToString("d")</td>
                               <td><a href="@Url.Action("EditTeacher","Organization",new {ID = ViewBag.OrganizationID,teacherID = i.Username})" class="btn btn-outline-primary">Edit</a></td>
                           </tr>
                       }
                    </tbody>
                   
                </table>
            </div>
        </div>
    </main>
</section>
<script>
    $("#file").change(function (e) {
        if ($('#file').val()) {
            $('.btn-submit').attr("disabled", false);
        }

    })
</script>