
<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Your Kids is Our Future, ​Never Stop Learning, ​Best Classes and Camps, ​Browse and book hundreds of free online classes, ​Know more About us?, ​Select Your Course, Our ​Team, Contact Us">
    <meta name="description" content="">
    <title>Home</title>

    <link href="~/Public/css/Home/nicepage.css" rel="stylesheet" />
    <link href="~/Public/css/Home/Home.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script class="u-script" type="text/javascript" src="~/Public/js/Home/nicepage.js" defer=""></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
  

    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|Roboto+Condensed:300,300i,400,400i,700,700i|Oswald:200,300,400,500,600,700|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <meta name="theme-color" content="#3fb7fe">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">


</head>

<body class="" data-lang="en">
    @Html.Partial("_LoadingPage")
    <header class="u-clearfix u-header u-white u-header" id="sec-b4c8">
        <div class="u-clearfix u-sheet u-sheet-1">
            <a href="#" class="u-image u-logo u-image-1" data-image-width="447" data-image-height="447">
                <img src="@Url.Content("~/Public/assets/images/home2/images/Prems1.png")" class="u-logo-image u-logo-image-1">
            </a>
            <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
                <div class="menu-collapse" style="font-weight: 400;">
                    <a class="u-button-style u-nav-link" href="#">
                        <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-ea72"></use></svg>
                        <svg class="u-svg-content" version="1.1" id="svg-ea72" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <rect y="1" width="16" height="2"></rect>
                                <rect y="7" width="16" height="2"></rect>
                                <rect y="13" width="16" height="2"></rect>
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="u-custom-menu u-nav-container">
                    <ul class="u-nav u-unstyled u-nav-1">
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" href="@Url.Action("Index","Home")">Home</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" href="@Url.Action("Index","Dashboard")">Owner</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" href="@Url.Action("Index","Organization",new {area="Student"})">Student</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" href="@Url.Action("Index","Organization",new {area="Teacher"})">Teacher</a>
                        </li>
                    </ul>
                </div>
                <div class="u-custom-menu u-nav-container-collapse">
                    <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                        <div class="u-inner-container-layout u-sidenav-overflow">
                            <div class="u-menu-close"></div>
                            <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="@Url.Action("Index","Home")">Home</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="@Url.Action("Index","Dashboard")">Owner</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="@Url.Action("Index","Organization",new {area="Student"})">Student</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="@Url.Action("Index","Organization",new {area="Teacher"})">Teacher</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
                </div>
            </nav>
        </div>
    </header>
    
        @*<header>
                <div class="navbar">
                    <div class="navbar-logo">Prems</div>
                    <div class="navbar-menu">
                        <a href="@Url.Action("Index","Home")" class="navbar-menu-home">Home</a>
                        <a href="@Url.Action("Organizations","Dashboard")" class="navbar-menu-organization">Organization</a>
                        <a href="#" class="navbar-menu-teacher">Teacher & Student</a>
                        <a href="#" class="navbar-menu-support">Support</a>
                    </div>
                    <div class="navbar-user">
                        <i class="fa-solid fa-user"></i>
                    </div>
                </div>
            </header>*@
        <div id="bodyContent" class="" style="min-height: 80vh;">
            @RenderBody()
        </div>
        <footer class="u-clearfix u-footer u-palette-1-dark-2" id="sec-5124">
            <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
                <div class="u-clearfix u-expanded-width u-gutter-52 u-layout-wrap u-layout-wrap-1">
                    <div class="u-gutter-0 u-layout">
                        <div class="u-layout-row">
                            <div class="u-container-style u-layout-cell u-shape-rectangle u-size-18 u-layout-cell-1">
                                <div class="u-container-layout u-container-layout-1">
                                    <h5 class="u-text u-text-1">Call today</h5>
                                    <p class="u-small-text u-text u-text-variant u-text-2"> +1 (234) 567-8910</p>
                                    <h5 class="u-text u-text-3">Email&nbsp;</h5>
                                    <p class="u-small-text u-text u-text-variant u-text-4">smanageroop@gmail.com</p>
                                    <h6 class="u-text u-text-5">Opening hours</h6>
                                    <p class="u-small-text u-text u-text-variant u-text-6">
                                        Mon — Fri 10:00 – 23:00<br>Sut-Sun- 10:00 – 19:00
                                    </p>
                                </div>
                            </div>
                            <div class="u-container-style u-layout-cell u-size-42 u-layout-cell-2">
                                <div class="u-container-layout u-valign-bottom-xs u-container-layout-2">
                                    <h5 class="u-text u-text-7">Address</h5>
                                    <div class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-grey-light-2 u-map u-map-1">
                                        <div class="embed-responsive">
                                            <iframe class="embed-responsive-item" src="//maps.google.com/maps?output=embed&amp;q=khu%20ph%E1%BB%91%206%2C%20ph%C6%B0%E1%BB%9Dng%20Linh%20Trung%2C%20th%C3%A0nh%20ph%E1%BB%91%20Th%E1%BB%A7%20%C4%90%E1%BB%A9c&amp;t=m" data-map="JTdCJTIycG9zaXRpb25UeXBlJTIyJTNBJTIybWFwLWFkZHJlc3MlMjIlMkMlMjJhZGRyZXNzJTIyJTNBJTIya2h1JTIwcGglRTElQkIlOTElMjA2JTJDJTIwcGglQzYlQjAlRTElQkIlOURuZyUyMExpbmglMjBUcnVuZyUyQyUyMHRoJUMzJUEwbmglMjBwaCVFMSVCQiU5MSUyMFRoJUUxJUJCJUE3JTIwJUM0JTkwJUUxJUJCJUE5YyUyMiUyQyUyMnpvb20lMjIlM0FudWxsJTJDJTIydHlwZUlkJTIyJTNBJTIycm9hZCUyMiUyQyUyMmxhbmclMjIlM0FudWxsJTJDJTIyYXBpS2V5JTIyJTNBbnVsbCUyQyUyMm1hcmtlcnMlMjIlM0ElNUIlNUQlN0Q="></iframe>
                                        </div>
                                    </div>
                                    <p class="u-small-text u-text u-text-variant u-text-8">
                                        Quarter 6, Linh Trung Ward, Thu Duc City<br>
                                        <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    <script>
        $(window).on('load', function () {
            $("#body").fadeIn(1000);
            $("#loading").fadeOut(1000);
        });
    </script>
</body>
</html>