@using Common

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link href="~/Public/Areas/css/adminPanel.css" rel="stylesheet" />
</head>
<body>
    <style>
        body a {
            text-decoration: none;
        }
    </style>
    @Html.Partial("_LoadingPage")

<div id="body">
    <section id="sidebar">
        <div href="#" class="brand" style="color: #173143; padding: 0px 12px; ">
            <img class="me-4" style="width: 42px;" src="~/Public/assets/images/Mask group.png">
            USER
        </div>
        <ul class="side-menu">
            @*<li><a href="@Url.Action("Index","Dashboard")" class="active"><i class="fa-solid fa-face-smile icon"></i>Profile</a></li>*@
            <li>@Html.MenuLink("<i class=\"fa-solid fa-face-smile icon\"></i>Profile", "Index", "Dashboard")</li>
            @*<li class="divider">Main</li>*@
            @*<li>
                <a href="#"><i class="fa-solid fa-inbox icon"></i>Elements <i class="fa-solid fa-chevron-right icon-right"></i> </a>
                <ul class="side-dropdown">
                    <li><a href="#">Students </a></li>
                    <li><a href="#">Teachers  </a></li>
                    <li><a href="#">Employees </a></li>
                    <li><a href="#">Earnings </a></li>

                </ul>
            </li>*@
            @*<li><a href="@Url.Action("Organizations","Dashboard")"><i class="fa-solid fa-chart-simple icon"></i>Organizations</a></li>*@
            <li>@Html.MenuLink("<i class=\"fa-solid fa-school icon\"></i>Organizations", "Organizations", "Dashboard")</li>
            @*<li><a href="#"><i class="fa-solid fa-bridge-water icon"></i></i>Widgets</a></li>
            <li class="divider">Table and forms</li>
            <li><a href="#"><i class="fa-solid fa-table icon"></i>Table</a></li>
            <li>
                <a href="#"><i class="fa-solid fa-inbox icon"></i>Forms <i class="fa-solid fa-chevron-right icon-right"></i> </a>
                <ul class="side-dropdown">
                    <li><a href="#">Basic </a></li>
                    <li><a href="#">Select  </a></li>
                    <li><a href="#">Checkbox </a></li>
                    <li><a href="#">Radio </a></li>

                </ul>
            </li>*@

        </ul>

    </section>
    <section id="content">
        <nav class="d-flex justify-content-between">
            <i class="fa-sharp fa-solid fa-bars toggle-sidebar"></i>
            <div class="profile">
                <img src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" alt="">
                <ul class="profile-link">
                    <li><a href="@Url.Action("Index","Dashboard")"><i class="fa-solid fa-user icon"></i>Profile</a></li>
                    <li><a href="@Url.Action("LogOff","Account")"><i class="fa-solid fa-outdent icon"></i>Logout</a></li>

                </ul>
            </div>
        </nav>
        <main>
            @RenderBody()
        </main>

    </section>
</div>
  
    <script>
        $(window).on('load', function () {
            $("#loading").fadeOut(1000);
            $("#body").fadeIn(1000);
        });
    </script>
    <script src="~/Public/Areas/js/adminPanel.js"></script>
</body>

</html>